<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Summary</title>
</head>
<body>
<form action="#">
    <div class="container">
        <div class="container border border-dark">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ @BASE }}">Home</a>
            </nav>
            <br>
            <div class="row">
                <div class="col-6">
                    <div class="card" style="width: 34rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Name: {{ @SESSION.firstName }} {{ @SESSION.lastName }}</li>
                            <li class="list-group-item">Gender: {{ @SESSION.gender }}</li>
                            <li class="list-group-item">Age: {{ @SESSION.age }}</li>
                            <li class="list-group-item">Phone: {{ @SESSION.phone }}</li>
                            <li class="list-group-item">Email: {{ @SESSION.email }}</li>
                            <li class="list-group-item">State: {{ @SESSION.state }}</li>
                            <li class="list-group-item">Seeking: {{ @SESSION.seeking }}</li>
                            <li class="list-group-item">Interests: {{ implode(@SESSION.interest, ", ") }}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-6"><img src="images/profile.png" alt="couple"></div>
                    <div class="col-6"><h3>Biography</h3></div>
                    <p>{{ @SESSION.bio }}</p>
                </div>
            </div>
            <div class= "form-group" id="btn">
                <button type="submit" class="btn btn-primary" id="button">Create a Profile!</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>