body{
    padding-top: 25px;
}
h1{
    font-size: 3em;
    text-align: center;
}
h2{
    font-size: 2em;
    text-align: center;
}
#tests{
    font-style: italic;
    text-indent: 50px;
}
#button{
    background-color: black;
    border-color: black;
    font-size: 25px;
    border-radius: 12px;
}
#btn{
    text-align: center;
}
img{
    border-radius: 25px;
}

